#title {
    text-transform: lowercase;
    font-size: 25px;
}

p {
    font-size: 14px;
}

.about-bio{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 2;
} 
#bio-container{
    min-height: 100vh;
    padding: 5vw;
    box-sizing: border-box;
    width:50%;
    height: 100%;
    font-weight: 1;
    float: right;
    padding-top: 5vw;
    background-color: black;
}
