body {
    width:100%;
}

#main-content {
    min-height: 100vh; 
}

#video-container{
    width: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

#accordion1{
    width: 50%;
    position: relative;
    /* height: 350px; */
    margin-top: 10px;
    /* margin-left: auto;
    margin-right: auto;
    text-align: left;
    align-content: left; */
    border: solid 2px;
    border-color: white;
    margin-top: 10%;
    margin-bottom: 5%
}
#accordion1:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.pana-accordion-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
}
