
* {
    box-sizing: border-box;
}
.column{
    float: left;
    width: 50%;
    padding: 5px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

#main-content {
    min-height: 100vh;
}

#logo {
    font-size: 45px;
    letter-spacing: 8px;
}

#latest-collection {
    width: 700px;
    height: auto;
    margin-top: 100px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    border: solid 2px;
    border-color: white;
}

#additional-spacing{
    height: 25px; 
}