body {
    width:100%;
}

#kentaro-egg{
    width: 525px;
    height: auto;
    margin: auto;
    text-align: center;
    align-content: center;
    border: solid 2px;
    border-color: white;
}
.map{
    outline: transparent;
}