body {
    width:100%;
}

#kentaro-egg{
    width: 525px;
    height: auto;
    margin: auto;
    text-align: center;
    align-content: center;
    border: solid 2px;
    border-color: white;
}
.map{
    outline: transparent;
}

#video-container {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    vertical-align: middle;
    align-items: center;
    align-content: center;
}

#video-1 {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px;
    border-color: white;
}