body { margin: 0;}
.image1 {
    width:100vw;
    height: 100vh; 
    background: black;
    background-image: url("../photos/Kentaro\ Grey\ 6.JPG");
    background-size: cover;
}
.image2 {
    width:100vw;
    height: 100vh; 
    background: black;
    background-image: url("../photos/Kentaro\ Grey\ 7.JPG");
    background-size: cover;
}
.image3 {
    width:100vw;
    height: 100vh; 
    background: black;
    background-image: url("../photos/Kentaro\ Grey\ 8.JPG");
    background-size: cover;
}
.content {
  height: 400px;
}