
.card{
    display:flex;
    align-content: center;
    margin-left: 35%;
    border-color: green;
    color: white;
    background-color: grey!important ;
    opacity: .5;
} 

.card-text, .card-price {
    font-family: 'Montserrat', sans-serif!important;
    font-size: small;
}


a.btn-primary{
    background-color: white!important;
    color:grey;
    font-size: small;
    border-color:white!important;
    font-family: 'Montserrat', sans-serif!important;

}
a.btn-primary:hover{
    opacity:0; 
    filter:alpha(opacity=0); 
    border-color:white;
}