
.card{
    display:flex;
    align-content: center;
    color: white;
    background-color: #222222;
    width: 70% !important;
    border: none !important;
} 

.card-text, .card-price {
    font-family: 'Montserrat', sans-serif!important;
    font-size: small;
}


a.btn-primary{
    background-color: white!important;
    color:grey;
    font-size: small;
    border-color:white!important;
    font-family: 'Montserrat', sans-serif!important;

}
a.btn-primary:hover{
    opacity:0; 
    filter:alpha(opacity=0); 
    border-color:white;
}