p {
    font-size: 14px;
}


.greeting{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 2;
} 

#success-container{
    min-height: 100vh;
    padding: 5vw;
    box-sizing: border-box;
    width:50%;
    height: 100%;
    font-weight: 1;
    float: right;
    padding-top: 5vw;
    background-color: black;
}


