@font-face {
    font-family: 'djb_this_is_me_2regular';
    src: url('fonts/djb_this_is_me_2-webfont.woff2') format('woff2'),
         url('fonts/djb_this_is_me_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url('photos/Graffiti\ Background.jpeg');
    background-attachment: fixed;
    display: flex;
}

#kentaro-logo{
    position: fixed;
    font-family: 'djb_this_is_me_2regular', Arial, Helvetica, sans-serif;
    color: lightgrey; 
    font-size: 70px;
    letter-spacing: 8px;
    margin-left: 120px;
    margin-bottom: 100px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.rotate {

    /* Safari */
    -webkit-transform: rotate(-90deg);
    
    /* Firefox */
    -moz-transform: rotate(-90deg);
    
    /* IE */
    -ms-transform: rotate(-90deg);
    
    /* Opera */
    -o-transform: rotate(-90deg);
    
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    
}