<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="../../public/css/main.css"/> -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../public/css/about.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
    <p id="nav-template"></p>
    <article></article>
    <p id="footer-template"></p>
<body id="about-page">
    <h2><b><i>Biography</i></b></h2>
    <div class="about-bio">Los Angeles, CA (November 17, 2017) - Japanese-born<br/><b>Angeleno Kentaro Kameyama</b> is
       the newest member of fashion’s<br/> “in” crowd as the winner of season 16 of Lifetime’s Emmy-nominated<br/>
       series <b><i>“Project Runway”</i></b>.<br/><b> Kameyama</b> clinched the coveted prize with his jaw-dropping<br/> runway show at
       <b><i>New York’s Fashion Week</i></b>, which featured models<br/> wearing expertly-tailored clothes inspired by
       classical music, walking<br/> to an original score composed by<b> Kameyama</b>.<br/> The fashion-forward collection
       impressed the show’s judges<br/> Heidi Klum, Nina Garcia, Zac Posen and this year’s finale guest<br/> judge,
       Jessica Alba.<br/> The collection was a featured spread in <b><i>Marie Claire Magazine</i></b>.<br/>
       <b>Kameyama</b> is a 2015 graduate of <b><i>FCI – The Fashion School</i></b> of<br/> Los Angeles, where he currently teaches
       and serves as Fashion<br/> Chaorman.<br/> Also a classical pianist and composer,<b> Kameyama</b> has a Graduate<br/>
       <b><i>Certificate in Piano Performance</i></b> from the University of Southern<br/> California, an Artist Diploma
       from the University of Redland, <b><i>Masters<br/> of Music</i></b> from the University of South Carolina, <b><i>Bachelor
       of Music</i></b><br/> from Oklahoma Wesleyan University, and <b><i>an Associate of Art</i></b> in Piano<br/> Performance from
       Toho Music College in Tokyo.</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
    </script>
</body>
   <script src="../template/nav.js"></script>
   <script src="contact.js"></script>
   <script src="../template/footer.js"></script>
</html>