<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>kentaro kameyama</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../public/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../public/css/main2.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../public/css/shop.css" />
    <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
</head>
<body id="shop-body">
    <p id="nav-template"></p>
        <div id="flex-container">
            <img class="shop-photo one" src="../../photos/Kentaro Grey 2.JPG"/>
            <figcaption>Long terry pullover - $25</figcaption>
            <figcaption>Leggings - $100</figcaption>
            <img class="shop-photo one" src="../../photos/Kentaro Grey 1.JPG"/>
            <figcaption>Short terry pullover - $20</figcaption>
            <figcaption>Miniskirt - $40</figcaption>
            <figcaption>Stockings - $35</figcaption>
            <img class="shop-photo two" src="../../photos/Kentaro Grey 5.JPG"/>
            <figcaption>Black dress - $100</figcaption>
            <img class="shop-photo two" src="../../photos/Kentaro Grey 10.JPG"/>
            <figcaption>Lavender gown - $200</figcaption>



        </div>
    </article>
    <p id="footer-template"></p>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script src="../template/nav.js"></script>
<script src="app.js"></script>
<script src="../template/footer.js"></script>
</html>